@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Container Styles */
.container {
  max-width: 1200px; /* Equivalent to Tailwind's 7xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@layer base {
  :root {
    --background: 20 14% 12%;
    --foreground: 30 7% 72%;
    --card: 20 14% 12%;
    --card-foreground: 30 7% 72%;
    --popover: 20 14% 12%;
    --popover-foreground: 30 7% 72%;
    --primary: 161 100% 35%;
    --primary-foreground: 30 7% 72%;
    --secondary: 30 7% 72%;
    --secondary-foreground: 20 14% 12%;
    --muted: 20 14% 12%;
    --muted-foreground: 30 7% 72%;
    --accent: 100 96% 67%;
    --accent-foreground: 30 7% 72%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 12%;
    --input: 20 14% 12%;
    --ring: 161 100% 35%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 20 14% 12%;
    --sidebar-foreground: 30 7% 72%;
    --sidebar-primary: 161 100% 35%;
    --sidebar-primary-foreground: 30 7% 72%;
    --sidebar-accent: 20 14% 12%;
    --sidebar-accent-foreground: 30 7% 72%;
    --sidebar-border: 20 14% 12%;
    --sidebar-ring: 161 100% 35%;
    --secondary-accent: 168 37% 44%;
  }
  .dark {
    --background: 133 16% 6%;
    --foreground: 200 13% 86%;
    --card: 20 14% 12%;
    --card-foreground: 30 7% 72%;
    --popover: 20 14% 12%;
    --popover-foreground: 30 7% 72%;
    --primary: 161 100% 35%;
    --primary-foreground: 30 7% 72%;
    --secondary: 30 7% 72%;
    --secondary-foreground: 20 14% 12%;
    --muted: 20 14% 12%;
    --muted-foreground: 30 7% 72%;
    --accent: 100 96% 67%;
    --accent-foreground: 30 7% 72%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 12%;
    --input: 20 14% 12%;
    --ring: 161 100% 35%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 20 14% 12%;
    --sidebar-foreground: 30 7% 72%;
    --sidebar-primary: 161 100% 35%;
    --sidebar-primary-foreground: 30 7% 72%;
    --sidebar-accent: 20 14% 12%;
    --sidebar-accent-foreground: 30 7% 72%;
    --sidebar-border: 20 14% 12%;
    --sidebar-ring: 161 100% 35%;
    --secondary-accent: 168 37% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

section:nth-child(odd) {
  border-bottom: 1px solid hsl(var(--secondary-accent));
}

section:last-child {
  border-bottom: none;
}

/* Blinking Cursor */
.blinking-cursor {
  font-weight: 100;
  font-size: 50px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/* Hero Image */
.hero-image {
  border-radius: 10px; /* Optional: for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
}

